<template>
  <div class="login-screen" id="my-login-screen">
    <div class="view">
      <div class="page">
        <div class="page-content login-screen-content">
          <div class="login-screen-title">登录</div>
          <div class="list">
            <ul>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">手机号</div>
                  <div class="item-input-wrap">
                    <input
                      type="text"
                      name="username"
                      placeholder="请输入手机号"
                    />
                  </div>
                </div>
              </li>
              <li class="item-content item-input">
                <div class="item-inner">
                  <div class="item-title item-label">密码</div>
                  <div class="item-input-wrap">
                    <input
                      type="password"
                      name="password"
                      placeholder="请输入密码"
                    />
                  </div>
                </div>
              </li>
            </ul>
          </div>
          <div class="list">
            <ul>
              <li>
                <a href="/login/" class="item-link list-button login-button">登录</a>
              </li>
              <li>
                <a href="/signup/" class="item-link list-button">注册</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
  export default {}
</script>
