<template>
  <div class="list">
    <ul>
      <li>
        <div class="item-media"><i class="icon icon-f7"></i></div>
        <div class="item-inner">
          <div class="item-title">
            {{ name }}
          </div>
        </div>
      </li>

      <li>
        <div class="item-media"><i class="icon icon-f7"></i></div>
        <div class="item-inner">
          <div class="item-title">
            {{ gender }}
          </div>
        </div>
      </li>

    </ul>
  </div>
</template>


<script>
  export default {
    data: {

    },
    methods: {
      
    }
  }
</script>