<template>
  <div class="me-pets-list">
    <ul>
      {{#each pets }}

      <li>
        <a href="/pet/detail?pid={{ pid }}" class="item-link item-content">
          <div class="item-content">
            <div class="item-media">
              <img class="me-pet-avatar" src="{{ avatar }}" width="44" />
            </div>

            <div class="item-inner">
              <div class="item-title">{{ name }}</div>
            </div>
          </div>
        </a>
      </li>

      {{/each }}
    </ul>
  </div>

  <div class="fab fab-extended fab-center-bottom color-red">
    <a href="/pet/add">
      <i class="icon f7-icons if-not-md"></i>
      <div class="fab-text">添加宠物</div>
    </a>
  </div>
</template>

<style>
  .me-pets-list .me-pet-avatar {
    border-radius: 50%;
  }
</style>

<script>
  export default {
    data: {
      pets: [
        {
          id: 1,
          name: 'pet1',
          avatar: 'https://cdn.framework7.io/placeholder/fashion-88x88-1.jpg'
        },
        {
          id: 2,
          name: 'pet2',
          avatar: 'https://cdn.framework7.io/placeholder/fashion-88x88-1.jpg'
        }
      ]
    },
    methods: {
      addPet: function () {
        // TODO: 防止多次触发
      }
    }
  }
</script>
