<template>
  <div class="card me-card">
    <div class="card-header">
      <div class="me-card-avatar">
        <img data-src="{{ avatar }}" alt="" class="lazy lazy-fade-in" />
      </div>
      <div class="me-card-name">{{ name }}</div>
      <div class="me-card-time">{{ createTime }}</div>
    </div>

    <div class="card-content card-content-padding">
      <div class="me-text text">
        {{ text }}
      </div>

      {{# if image }}
      <div class="me-image">
        <img data-src="{{ image }}" alt="" width="100%" class="lazy lazy-fade-in" />
      </div>
      {{/if }}
    </div>
    <div class="card-footer">
      <a href="#" class="link me-card-like"> 
          <i class="icon f7-icons if-not-md">heart</i>
          <span class="tabbar-label">喜欢</span>  
      </a>
      <a href="#" class="link me-card-comment">
        <i class="icon f7-icons if-not-md">message</i>
        <span class="tabbar-label">评论</span>
      </a>
    </div>
  </div>
</template>
