<template>

    <div class="card me-card">
        <div class="card-header">
            <div class="me-card-avatar">
                <img src="{{ avatar }}" alt="">
            </div>
            <div class="me-card-name">{{ name }}</div>
            <div class="me-card-time">{{ createTime }}</div>
        </div>

        <div class="card-content card-content-padding">
            <div class="me-text text">
                {{ text }}
            </div>

            {{# if image }}
            <div class="me-image">
                <img src="{{ image }}" alt="" width="100%">
            </div>
            {{/if }}
        </div>
    </div>

</template>

<script>
    export default {}
</script>