/* Custom color theme properties */
:root {
  --f7-theme-color: #6baa99;
  --f7-theme-color-rgb: 247, 180, 83;
  --f7-theme-color-shade: #1a9b78;
  --f7-theme-color-tint: #51aa92;
}

/* Your app custom styles here */
